[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdTree"]
	path = bundle/nerdTree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/merlin"]
	path = bundle/merlin
	url = https://github.com/the-lambda-church/merlin.git
[submodule "bundle/ocp-ident"]
	path = bundle/ocp-ident
	url = https://github.com/OCamlPro/ocp-indent.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "colors/vim-hybrid"]
	path = colors/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "colors/summerfruit256.vim"]
	path = colors/summerfruit256.vim
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-linux-coding-style"]
	path = bundle/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-github-colorscheme"]
	path = bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
